rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // A user can only read or write a trip if they are the owner of that trip.
    match /trips/{tripId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.ownerId;
    }
  }
}
